# /usr/lib/systemd/user/redshift-gtk.service
[Unit]
Description=pulse audio applet daeomn
After=display-manager.service

[Service]
ExecStart=/usr/bin/pa-applet
Restart=always

[Install]
WantedBy=default.target
